{% extends 'layout.html' %}

{% block content %}
	
	<form method="POST" action="" enctype="multipart/form-data">
		{{form.hidden_tag()}} 			     				<!-- csrf token-->
		<legend class="border-bottom mb-4">{{legend}}</legend>
		<div class="form-group">

			{{form.name.label(class="form-control-label")}}

			{% if form.name.errors %}
				{{form.name(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.name.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>

			{% else %}

				{{form.name(class="form-control form-control-lg")}}
			{% endif %}

			
			
		</div>


		<div class="form-group">
			{{form.content.label(class="form-control-label")}}
			{% if form.content.errors %}
				{{form.content(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.content.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>

			{% else %}

				{{form.content(class="form-control form-control-lg")}}
			{% endif %}
		</div>

		 <div class="form-row">
		    <div class="col">
		    	<div class="form-group">
					{{form.address.label(class="form-control-label")}}
					{% if form.address.errors %}
				{{form.address(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.address.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{form.address(class="form-control form-control-lg")}}
			{% endif %}
				</div>
		    </div>
		    <div class="col">
		    	<div class="form-group">
					{{form.category.label(class="form-control-label")}}
					{% if form.category.errors %}
				{{form.category(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.category.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>

			{% else %}

				{{form.category(class="form-control form-control-lg")}}
			{% endif %}
				</div>
		    </div>
		  </div>


		<div class="row">
		    <div class="col">
			      <div class="form-group">
					{{form.startDate.label(class="form-control-label")}}
					{% if form.startDate.errors %}
				{{form.startDate(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.startDate.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>

			{% else %}

				{{form.startDate(class="form-control form-control-lg")}}
			{% endif %}
				</div>
		    </div>
		    <div class="col">
		    		<div class="form-group">
					{{form.endDate.label(class="form-control-label")}}
					{% if form.endDate.errors %}
				{{form.endDate(class="form-control form-control-lg is-invalid")}}
				<div class="invalid-feedback">
					{% for error in form.endDate.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>

			{% else %}

				{{form.endDate(class="form-control form-control-lg")}}
			{% endif %}
				</div>
		    </div>
	  	</div>

		
	  	<div class="form-group">
					{{form.photo.label(class="form-control-label")}}
					{% if form.photo.errors %}
					<!-- add multiple to inputfield if album -->
				<input type="file" class="form-control form-control-lg is-invalid" name="photo" >  
				<div class="invalid-feedback">
					{% for error in form.photo.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>

			{% else %}

				<input type="file" class="form-control form-control-lg" name="photo" >
			{% endif %}
				</div>

				



		 <div class="row justify-content-center">
			<div class="col-2 form-outline mb-4 ">
				{{form.submit(class='btn btn-primary btn-lg')}}
					
			</div>


			<div class="col-2 form-outline mb-4 align-self-end">
					<button type="reset" class="btn btn-outline-dark">reset</a>
			</div>
		</div>

	</form>

{% endblock %}
